<footer class="grey">
	<section class="footer-col footer-col--contact">
		<h3>Let's start</h3>
		<p>Book your free one-hour advisory session</p>
		<a class="button button--green" href="/contact">Book now</a>
	</section>
	
	<section class="footer-col footer-col--explore">
		<h3>Let's explore</h3>
		<ul>
			<li><a href="/advisory">Advisory & Coaching</a></li>
			<li><a href="/branding">Strategic Branding</a></li>
			<li><a href="/marketing">Marketing & Communication</a></li>
			<li><a href="/employee-connection">Employee Alignment & Connection</a></li>
		</ul>
	</section>

	<section class="footer-col footer-col--newsletter">
		<h3>Let's be inspired</h3>
		{% include subscribe-form.html %}
	</section>

<span class="copyright">&copy; {{ "now" | date: "%Y" }} Verve360</span>
</footer>
<script src="{{ "/assets/js/app.js" | relative_url }}"></script>