<section class="testimonials-intro section-intro">
	<h2 class="section-intro--header"><span class="scroll fadeIn">Our Testimonials.</span> <span class="highlight scroll fadeIn" data-wow-delay=".5s">Your Comfort.</span></h2>
<!--
{% if page.testimonials_intro and page.testimonials_intro != '' %}
  <p class="testimonials_intro">
    {{ page.testimonials_intro | markdownify | remove: '<p>' | remove: '</p>' }}
  </p>
{% endif %}
-->
</section>
<section class="testimonials page-section scroll fadeIn">
<ul class="testimonials_list slides content-col">
{% if page.testimonials and page.testimonials != '' %}
  {% for testimonial in page.testimonials %}
  <li class="testimonials_list-item">
    <p>{{testimonial.content | markdownify}}</p>
    <span>{{testimonial.name}}</span>
  </li>
  {% endfor %}
{% endif %}
</ul>
<div class="slides-controls content-col">
<button id="previous-slide">&lt; Previous</button>
<button id="next-slide">Next &gt;</button>
</div>
</section>