<section class="services">
	<h2 class="section-header">Our Services. <span class="highlight">Your solutions</span></h2>
{% if page.services_intro and page.services_intro != '' %}
  <p class="services_intro">
    {{ page.services_intro | markdownify | remove: '<p>' | remove: '</p>' }}
  </p>
{% endif %}
<ul class="services_list">
{% if page.advisory and page.advisory != '' %}
  <li class="services_list-item">
  	<h3>Advisory</h3>
    <p>{{ page.advisory | markdownify | remove: '<p>' | remove: '</p>' }}</p>
    <span class="services_list-icon"></span>
  </li>
{% endif %}
{% if page.branding and page.branding != '' %}
  <li class="services_list-item">
  	<h3>Strategic Branding</h3>
    <p>{{ page.branding | markdownify | remove: '<p>' | remove: '</p>' }}</p>
    <span class="services_list-icon"></span>
  </li>
{% endif %}
{% if page.sales and page.sales != '' %}
  <li class="services_list-item">
  	<h3>Sales, Marketing & Communication</h3>
    <p>{{ page.sales | markdownify | remove: '<p>' | remove: '</p>' }}</p>
    <span class="services_list-icon"></span>
  </li>
{% endif %}
{% if page.employee_alignment and page.employee_alignment != '' %}
  <li class="services_list-item">
  	<h3>Employee Alignment & Connection</h3>
    <p>{{ page.employee_alignment | markdownify | remove: '<p>' | remove: '</p>' }}</p>
    <span class="services_list-icon"></span>
  </li>
{% endif %}
</ul>
</section>