<!--
<section class="home-intro white" id="intro">
	<div class="home-intro--questions purple right-to-bottom-triangle scroll slideInLeft">
{% if page.questions and page.questions != '' %}
    {{ page.questions | markdownify }}
{% endif %}
	</div>
	<div class="home-intro--paragraph scroll fadeIn">
{% if page.second_paragraph and page.second_paragraph != '' %}
    {{ page.second_paragraph | markdownify }}
{% endif %}
</section>
-->
<section id="intro" class="page-section white scroll fadeIn">
	<div class="intro-col">
{% if page.home_intro-1 and page.home_intro-1 != '' %}
    {{ page.home_intro-1 | markdownify }}
{% endif %}
	</div>
	<div class="intro-col">
{% if page.home_intro-2 and page.home_intro-2 != '' %}
    {{ page.home_intro-2 | markdownify }}
{% endif %}
	</div>
	<div class="intro-col">
{% if page.home_intro-3 and page.home_intro-3 != '' %}
    {{ page.home_intro-3 | markdownify }}
{% endif %}
	</div>
</section>

<section class="page-cta green">
	<span class="content-col scroll fadeIn">
{% if page.intro-cta and page.intro-cta != '' %}
    {{ page.intro-cta | markdownify }}
{% endif %}
<a href="/contact" title="contact us" class="scroll bounceIn" data-wow-delay=".2s">Let's talk</a>
</span>
</section>