<section id="intro" class="customers-questions white">
	<div class="customers-questions--list scroll fadeIn">
		<h3>Your business:</h3>
		<ul class="customers_list">
		{% if page.customers_scenarios and page.customers_scenarios != '' %}
		  {% for scenario in page.customers_scenarios %}
		  <li class="customers_list-item">
		    {{ scenario.content}}
		  </li>
		  {% endfor %}
		{% endif %}
		</ul>
		{% if page.customers_p and page.customers_p != '' %}
		  <h4>
		    {{ page.customers_p | markdownify | remove: '<p>' | remove: '</p>' }}
		  </h4>
		{% endif %}
	</div>
	<div class="customers-questions--solutions  grey scroll fadeIn" data-wow-delay=".33s">
		<h3>Our approach:</h3>
		{% if page.customers_intro and page.customers_intro != '' %}
		    {{ page.customers_intro | markdownify }}
		{% endif %}
	</div>
</section>
<section class="page-cta green">
	<span class="content-col scroll fadeIn">
{% if page.intro-cta and page.intro-cta != '' %}
    {{ page.intro-cta | markdownify }}
{% endif %}
<a href="/contact" title="contact us" class="scroll bounceIn" data-wow-delay=".2s">Let's talk</a>
</span>
</section>


