<section class="customers-questions dark-grey">
	<div class="customers-questions--title purple right-to-bottom-triangle scroll slideInLeft">
{% if page.customers_intro and page.customers_intro != '' %}
  <h3 class="center no-padding">
    {{ page.customers_intro | markdownify | remove: '<p>' | remove: '</p>' }}
  </h3>
{% endif %}
	</div>
	<div class="customers-questions--list" data-wow-delay=".8s">
		<h3 class="no-padding">Your business:</h3>
		<ul class="customers_list scroll fadeIn">
		{% if page.customers_scenarios and page.customers_scenarios != '' %}
		  {% for scenario in page.customers_scenarios %}
		  <li class="customers_list-item">
		    {{ scenario.content}}
		  </li>
		  {% endfor %}
		{% endif %}
		</ul>
		{% if page.customers_p and page.customers_p != '' %}
		  <h4>
		    {{ page.customers_p | markdownify | remove: '<p>' | remove: '</p>' }}
		  </h4>
		{% endif %}
	</div>
</section>
<section class="customers-outro content-col scroll fadeIn" data-wow-delay=".4s">
	<h3>How do we do it?</h3>
{% if page.customers_outro and page.customers_outro != '' %}
  <p>
    {{ page.customers_outro | markdownify | remove: '<p>' | remove: '</p>' }}
  </p>
{% endif %}
</section>
<section class="page-cta green">
	<span class="content-col scroll fadeIn">
{% if page.intro-cta and page.intro-cta != '' %}
    {{ page.intro-cta | markdownify }}
{% endif %}
<a href="/contact" title="contact us" class="scroll bounceIn" data-wow-delay=".2s">Let's talk</a>
</span>
</section>


