<section id="beliefs" class="beliefs section-intro">
	<h2 class="section-intro--header"><span class="scroll fadeIn">Our Beliefs.</span> <span class="highlight scroll fadeIn" data-wow-delay=".5s">Your Success</span></h2>
</section>
	<ul class="icon_list icon_list-beliefs">
{% if page.cohesion and page.cohesion != '' %}
  <li class="icon_list-item scroll fadeInUp">
  <span class="icon_list-content">
  <h3>Cohesion</h3>
    {{ page.cohesion | markdownify }}
  </span>
    <span class="icon_list-icon"> {% include icons/world.svg %} </span>
  </li>
{% endif %}
{% if page.collaboration and page.collaboration != '' %}
  <li class="icon_list-item scroll fadeInUp">
  <span class="icon_list-content">
  <h3>Collaboration</h3>
    {{ page.collaboration | markdownify }}
  </span>
    <span class="icon_list-icon">{% include icons/reload.svg %}</span>
  </li>
{% endif %}
{% if page.clarity and page.clarity != '' %}
  <li class="icon_list-item scroll fadeInUp">
  <span class="icon_list-content">
  <h3>Clarity</h3>
    {{ page.clarity | markdownify }}
  </span>
    <span class="icon_list-icon">{% include icons/target.svg %}</span>
  </li>
{% endif %}
{% if page.value and page.value != '' %}
  <li class="icon_list-item scroll fadeInUp">
  <span class="icon_list-content">
  <h3>Value</h3>
    {{ page.value | markdownify }}
  </span>
    <span class="icon_list-icon">{% include icons/stats-up.svg %}</span>
  </li>
{% endif %}
{% if page.hearts and page.hearts != '' %}
  <li class="icon_list-item scroll fadeInUp">
  <span class="icon_list-content">
  <h3>Hearts & minds</h3>
    {{ page.hearts | markdownify }}
  </span>
    <span class="icon_list-icon">{% include icons/heart.svg %}</span>
  </li>
{% endif %}
{% if page.standingout and page.standingout != '' %}
  <li class="icon_list-item scroll fadeInUp">
  <span class="icon_list-content">
  <h3>Standing out instead of fitting in</h3>
    {{ page.standingout | markdownify }}
  </span>
    <span class="icon_list-icon">{% include icons/flag.svg %}</span>
  </li>
{% endif %}
	</ul>
	
<section class="page-cta green">
	<span class="content-col scroll fadeIn">
{% if page.home-cta and page.home-cta != '' %}
    {{ page.home-cta | markdownify }}
{% endif %}
<a href="/contact" title="contact us" class="scroll bounceIn" data-wow-delay=".2s">Let's talk</a>
</span>
</section>