<section class="beliefs content-col bottom-triangle">
	<h2 class="section-header"><span class="scroll fadeIn">Our Beliefs.</span> <span class="highlight scroll fadeInRight" data-wow-delay=".4s">Your Success</span></h2>
</section>
	<ul id="beliefs" class="icon_list">
{% if page.cohesion and page.cohesion != '' %}
  <li class="icon_list-item" id="beliefs-1">
  <span class="icon_list-content">
  <h3>We believe in cohesion</h3>
    <p>{{ page.cohesion | markdownify | remove: '<p>' | remove: '</p>' }}</p>
  </span>
    <span class="icon_list-icon"> {% include icons/world.svg %} </span>
  </li>
{% endif %}
{% if page.collaboration and page.collaboration != '' %}
  <li class="icon_list-item" id="beliefs-2">
  <span class="icon_list-content">
  <h3>We believe in collaboration</h3>
    <p>{{ page.collaboration | markdownify | remove: '<p>' | remove: '</p>' }}</p>
  </span>
    <span class="icon_list-icon">{% include icons/reload.svg %}</span>
  </li>
{% endif %}
{% if page.clarity and page.clarity != '' %}
  <li class="icon_list-item" id="beliefs-3">
  <span class="icon_list-content">
  <h3>We believe in clarity</h3>
    <p>{{ page.clarity | markdownify | remove: '<p>' | remove: '</p>' }}</p>
  </span>
    <span class="icon_list-icon">{% include icons/target.svg %}</span>
  </li>
{% endif %}
{% if page.value and page.value != '' %}
  <li class="icon_list-item" id="beliefs-4">
  <span class="icon_list-content">
  <h3>We believe in value</h3>
    <p>{{ page.value | markdownify | remove: '<p>' | remove: '</p>' }}</p>
  </span>
    <span class="icon_list-icon">{% include icons/stats-up.svg %}</span>
  </li>
{% endif %}
{% if page.hearts and page.hearts != '' %}
  <li class="icon_list-item" id="beliefs-5">
  <span class="icon_list-content">
  <h3>We believe in hearts & minds</h3>
    <p>{{ page.hearts | markdownify | remove: '<p>' | remove: '</p>' }}</p>
  </span>
    <span class="icon_list-icon">{% include icons/heart.svg %}</span>
  </li>
{% endif %}
{% if page.standingout and page.standingout != '' %}
  <li class="icon_list-item" id="beliefs-6">
  <span class="icon_list-content">
  <h3>We believe in standing out instead of fitting in</h3>
    <p>{{ page.standingout | markdownify | remove: '<p>' | remove: '</p>' }}</p>
  </span>
    <span class="icon_list-icon">{% include icons/flag.svg %}</span>
  </li>
{% endif %}
	</ul>