<section class="home-intro">
	<div class="home-intro--questions right-to-bottom-triangle scroll slideInLeft">
{% if page.questions and page.questions != '' %}
    {{ page.questions | markdownify }}
{% endif %}
	</div>
	<div class="home-intro--paragraph scroll fadeIn">
{% if page.second_paragraph and page.second_paragraph != '' %}
    {{ page.second_paragraph | markdownify }}
{% endif %}
</section>
<section class="home-blurb">
	<div class="content-col scroll fadeIn">
{% if page.third_paragraph and page.third_paragraph != '' %}
    {{ page.third_paragraph | markdownify }}
{% endif %}
	</div>
</section>