<section class="hero-section home-header" style="background-image:linear-gradient(0deg, rgba(66,39,144,.5) 0%,rgba(0,0,0,1) 100%),url(/assets/img/{{page.hero-image}});">
{% if page.headline and page.headline != '' %}
  <h2 class="hero-section--headline home-header--headline">
    {{ page.headline | markdownify }}
  </h2>
{% endif %}
{% if page.intro_paragraph and page.intro_paragraph != '' %}
  <p class="home-header--intro ">
    {{ page.intro_paragraph | markdownify | remove: '<p>' | remove: '</p>' }}
  </p>
{% endif %}
<ul class="home-header--cta">
<li><a href="#services-overview">Learn more</a></li>
<li><a href="/contact">Talk to us</a></li>
</ul>
<!--
<img class="circle" id="c1" data-speed=".2" data-direction="up" src="/assets/img/v360-circle.svg">
<img class="circle" id="c2" data-speed=".4" data-direction="up" src="/assets/img/v360-circle.svg">
<img class="circle" id="c3" data-speed=".6" data-direction="up" src="/assets/img/v360-circle.svg">
-->
<a href="#intro" id="scroll-to-intro" class="up-down" title="Scroll down">
{% include /svg/down-arrow.svg %}
</a>
</section>
<div id="particles"></div>

