<section class="section-intro" id="services-overview">
	<h2 class="section-intro--header"><span class="scroll fadeIn">Our Services.</span> <span class="highlight scroll fadeIn" data-wow-delay=".5s">Your solutions</span></h2>
{% if page.services_intro and page.services_intro != '' %}
  <p class="section-intro--content scroll fadeIn" data-wow-delay=".8s">
    {{ page.services_intro | markdownify | remove: '<p>' | remove: '</p>' }}
  </p>
{% endif %}
</section>
<ul class="icon_list" id="services">
{% if page.advisory and page.advisory != '' %}
  <li class="icon_list-item scroll fadeInUp">
  <span class="icon_list-content">
  	<h3>Advisory</h3>
    <p>{{ page.advisory | markdownify }}</p>
    <a title="Advisory" href="/advisory">Learn More</a>
  </span>
    <span class="icon_list-icon"> {% include icons/handshake.svg %} </span>
  </li>
{% endif %}
{% if page.branding and page.branding != '' %}
  <li class="icon_list-item scroll fadeInUp">
  <span class="icon_list-content">
  	<h3>Strategic Branding</h3>
    <p>{{ page.branding | markdownify }}</p>
    <a title="Strategic Branding" href="/strategic-branding">Learn More</a>
  </span>
    <span class="icon_list-icon"> {% include icons/bulb.svg %} </span>
  </li>
{% endif %}
{% if page.sales and page.sales != '' %}
  <li class="icon_list-item scroll fadeInUp">
  <span class="icon_list-content">
  	<h3>Sales, Marketing & Communication</h3>
    <p>{{ page.sales | markdownify }}</p>
    <a title="Sales, Marketing & Communication" href="/sales-marketing-communication">Learn More</a>
  </span>
    <span class="icon_list-icon"> {% include icons/Bullhorn.svg %} </span>
  </li>
{% endif %}
{% if page.employee_alignment and page.employee_alignment != '' %}
  <li class="icon_list-item scroll fadeInUp">
  <span class="icon_list-content">
  	<h3>Employee Alignment & Connection</h3>
    <p>{{ page.employee_alignment | markdownify }}</p>
    <a title="Employee Alignment & Connection" href="/employee_alignment_connection">Learn More</a>
  </span>
    <span class="icon_list-icon"> {% include icons/network.svg %} </span>
  </li>
{% endif %}
</ul>

<section class="page-cta green">
	<span class="content-col scroll fadeIn">
{% if page.services-cta and services.services-cta != '' %}
    {{ page.services-cta | markdownify }}
{% endif %}
<a href="/contact" title="contact us" class="scroll bounceIn" data-wow-delay=".2s">Let's talk</a>
</span>
</section>