// site colours
$text-color: rgb(40,40,40);
$text-color-negative: white;
$brand-color: rgb(65,175,45);
$link-color: $brand-color;
$link-hover-color: lighten($link-color, 5%);
$grey-bg-color: rgb(243,243,243);
$hairline-color: rgb(230,230,230);
$selection-bg-color: rgba(65,175,45,0.5);
$light-grey: #eee;
$purple: #422790;
$black: darken(#0b0618, 10%);
$dark-grey: lighten($black, 20%);

// typographic defaults
$base-font: 'Roboto', sans-serif; 
$heading-font: 'Barlow', sans-serif;
$code-font: Courier, monospace;
$base-font-size: 62.5%;
$base-font-weight: 300;
$bold-font-weight: 500;
$heading-font-weight: 500;
$base-line-height: 1.6;

// viewport breakpoints
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1240px;
$xl: 1400px;
