// site colours
$text-color: rgb(40,40,40);
$text-color-negative: white;
$brand-color: rgb(65,175,45);
$link-color: $brand-color;
$link-hover-color: lighten($link-color, 5%);
$grey-bg-color: rgb(243,243,243);
$hairline-color: rgb(230,230,230);
$selection-bg-color: rgba(65,175,45,0.5);
$light-grey: #eee;
$purple: #422790;
$black: #0b0618;
$dark-grey: #1d1140;

// typographic defaults
$base-font: franklin-gothic-urw,sans-serif;
$heading-font: lato,sans-serif;
$code-font: Courier, monospace;
$base-font-size: 62.5%;
$base-font-weight: 400;
$bold-font-weight: 700;
$base-line-height: 1.6;

// viewport breakpoints
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1240px;
$xl: 1920px;
