@charset "utf-8";

@import
  "partials/fonts",
  "partials/variables",
  "partials/mixins",
  "partials/normalize",
  "partials/utilities",
  "partials/typography",
  "partials/app",
  "partials/animate"
;
 
//---------// Layout objects //---------// 

.content{
	display: grid;
	grid-column: 1 / 13;
	grid-template-columns: inherit;
	opacity: 0;
	ul{
		padding-bottom: 2rem;
	}
}

.content-col{
	grid-column: 2 / 12;
	padding: 4rem 0;
	li{
	list-style: inside;
	}
	@media(min-width: $sm){
		grid-column: 3 / 11;
	    padding: 6rem 0;
	}
}

.page-section{
	display: grid;
	grid-template-columns: inherit;
	grid-column: 1 / 13;
}

.panel-wrap{
	display: flex;
	flex-wrap: wrap;
	grid-template-columns: inherit;
	grid-column: 1 / 13;
	align-items: stretch;
	ul{
		list-style: none;
		li{
			margin: 0;
		}
	}
}
.panel-half{
	flex-basis: 100%;
	padding: 4rem;
	@media(min-width: $md){
		flex-basis: 50%;
		padding: 6rem;
		//text-align: left;
	}
}

// call to action boxes
.page-cta{
	display: grid;
	grid-template-columns: inherit;
    grid-column: 1 / 13;
    text-align: center;
	a, a:visited{
		display: inline-block;
		border: 2px solid #fff;
		padding: 1rem;
		color: #fff;
		font-weight: $bold-font-weight;
		&:hover{
			color: $brand-color;
			background: #fff;
		}
	}
}


//---------// Page Headers //---------//

.hero-section{
	position: relative;
	background-size: cover;
	background-position: 64% 0%;
	background-blend-mode: hard-light;
	min-height: 50vh;
	display: grid;
	grid-template-columns: inherit;
	grid-column: 1 / 13;
	padding: 14rem 0 8rem 0;
	@media (min-width:$md){
		background-position: center;
	}
}

.page-header--title{
	grid-column: 2 / 12;
	padding-bottom: 1rem;
	margin-bottom: 2rem;
	font-weight: $heading-font-weight;
	font-size: 3rem;
	align-self: end;
	//border-bottom: 2px solid $brand-color;
	opacity: 0;
	position: relative;
	z-index: 998;
	&:after{
	    content: '';
	    width: 0;
	    height: 4px;
	    background: $brand-color;
	    position: absolute;
	    bottom: -4px;
	    left: 0;
	}
	@media (min-width:$md){
		grid-column: 3 / 8;
	}
}
.page-header--intro{
	grid-column: 2 / 12;
	opacity: 0;
	z-index: 998;
	@media (min-width:$md){
		grid-column: 3 / 8;
	}
	p{
		padding-bottom: 0;
	}
	h3{
		font-family: $base-font;
		font-weight: 300;
		font-style: italic;
		line-height: 1.33;
	}
}

//---------// Logo animation classes //---------//

#stroke-logo{
	width: 140px;
	@media(min-width:$sm){
		width: 160px;
	}
	@media(min-width:$lg){
		//width: 180px;
	}
}

.text-stroke--thin{
	fill:none;
}
.text-stroke{
fill: none;
transition: all .66s linear;
stroke-dasharray: 500px;
stroke-dashoffset: 500px;
}
.big-circle{
fill: none;
transition: all 1s ease;
stroke-dasharray: 331px;
stroke-dashoffset: 331px;
stroke-miterlimit: 10;
stroke-width: 16px;
stroke: url(#linear-gradient);
}
.text-stroke {
stroke: #000;
stroke-width: 6px;
stroke-linecap: round;
}
#svg360{
	transform:translateX(-50px);
	opacity:0;
}
.text-stroke--thin{
stroke: #000;
stroke-width: 3px;
stroke-linecap: round;
}
#small-circle {
fill: #fff;
opacity: 0;
transition: all .5s linear 1.4s;
}

//---------// Homepage //---------//

//Header
.hero-section.home-header{
	//transform: translateY(-100%);
	min-height: 100vh;
	background-attachment: scroll, fixed;
}
/*
.loaded{
	.hero-section.home-header{
		transform: translateY(0px);
		transition: transform .5s linear;
	}
}
*/
.home-header--headline{
	grid-column: 2 / 12;
	padding-bottom: 2rem;
	font-weight: $heading-font-weight;
	line-height: 1.3;
	font-size: 2.5rem;
	font-size: 7vw;
	align-self: end;
	//opacity: 0;
	//z-index: 998;
	@media (min-width:$xs){
		//font-size: 3rem;
	}
	@media (min-width:$sm){
		font-size: 4rem;
	}
	@media (min-width:$md){
		grid-column: 3 / 10;
		//font-size: 3.2rem;
	}
	@media (min-width:$lg){
		//font-size: 4rem;
	}
	p{
		padding: 0;
		transform: translateY(50px);
		opacity: 0;
	}
	strong{
		font-weight: $heading-font-weight;
		font-style: normal;
		position: relative;
		&:after{
		    content: '';
		    width: 0;
		    height: 4px;
		    background: $brand-color;
		    position: absolute;
		    bottom: -10px;
		    left: 0;
		}
	}
}

.home-header--intro{
	grid-column: 2 / 10;
	//color: $text-color;
	//line-height: 1.6;
	opacity: 0;
	z-index: 998;
	font-size: 1.8rem;
	@media (min-width:$md){
		grid-column: 3 / 8;
	}
}
.home-header--cta{
	list-style: none;
	grid-column: 2 / 10;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	opacity: 0;
	z-index: 998;
	@media (min-width:$md){
		grid-column: 3 / 8;
	}
	li{ 
		margin: 0 2rem 0 0;
		a{
			border: 2px solid #fff;
			margin: 0;
			text-decoration: none;
			padding: 1rem;
			font-weight: 500;
			color: #fff;
			background: rgba(0,0,0,.1);
			transition: all .2s ease;
			&:hover,&:focus{
				//border-color: $brand-color;
				background: rgba(0,0,0,.3);
			}
		}
	}
}

#scroll-to-intro{
	padding: 10px;
	z-index: 998;
	position: absolute;
	bottom: 2rem;
	left: 50%;
	margin-left: -30px;
	animation-duration: 1.333s;
	animation-iteration-count: infinite;
	opacity: 0;
	text-decoration: none;
	border-bottom: none;
}
#down-arrow-svg{
	width: 30px;
	height: 30px;
	@media(min-width:$md){
	width: 40px;
	height: 40px;		
	}
	.middle-line, .side-line{
		stroke: #fff;
		stroke-width: 4px;
	}
}

// Intro columns
.home-intro{
	display: flex;
	flex-direction: column;
	padding: 4rem;
	@media (min-width: $md){
		padding: 4rem 2rem;
		//padding: 0rem 6rem 6rem 6rem;
		flex-direction: row;
	}
	h3{
		margin-bottom: 4rem;
		border-bottom: 2px solid $brand-color;
		padding-bottom: .5em;
	}
	ul {
		margin-bottom: 2rem;
		//padding: 2rem;
		li{
			list-style: disc;
		}
	}
}

.home-intro-col{
	flex-basis: 100%;
	font-size: 1.6rem;
	padding-top: 4rem;
	@media (min-width: $md){
		font-size: 1.33rem;
		padding: 2rem;
		flex-basis: 33%;
	}
	@media (min-width: $xl){
		font-size: 1.6rem;
		padding: 2rem;
		flex-basis: 33%;
	}
}

// Sections - Services, Testimonials, Beliefs
#homepage-sections{
	display: grid;
	grid-template-columns: inherit;
	grid-column: 1 / 13;
	background-color: rgba(66, 39, 144, 1);
}
.section-intro{
	display: grid;
    grid-column: 1 / 13;
    grid-template-columns: inherit;
    align-items: center;
    //padding: 8rem 4rem 0 4rem;
}
.section-intro--header{
	//text-align: center;
	grid-column: 2 / 12;
	padding: 8rem 0 4rem 0;
	text-transform: uppercase;
	font-weight: $heading-font-weight;
	//padding: 4rem 0;
	span{
		display: inline-block;
		display: block;
		&:nth-child(1){
			font-size: 2rem;
			font-style: italic;
		}
		&:nth-child(2){
			position: relative;
			font-size: 3rem;
			@media (min-width: $sm){
				margin-left: 4rem;
				font-size: 4rem;
			}
			&:before, &:after{
				content: '';
			    background: #41af2d;
			    height: 4px;
			    position: absolute;
			    bottom: 1.5rem;
			    transform: scaleX(0);
			    transition: transform .5s ease;
			    @media (min-width: $sm){
				    bottom: 2.25rem;
			    }
			}
			&:before{
				width: 11%;
				margin-left: -2rem;
				left: -11%;
				transform-origin: left;
				@media (min-width: $sm){
				    margin-left: -4rem;
			    }
			}
			&:after{
				width: 100%;
				margin-left: 2rem;
				transform-origin: right;
				@media (min-width: $sm){
				    margin-left: 4rem;
			    }
			}
		}
	}
	span.animation-ended{
		&:nth-child(2){
			&:before,&:after{
				 transform: scaleX(1);
			}
		}
	}
	
}
.section-intro--content{
	grid-column: 2 / 12;
	padding: 0 0 4rem 0;
	@media (min-width: $sm){
		grid-column: 4 / 10;
	}
}

.icon_list{
	//background: #111;
	//color: #fefefe;
	//display: grid;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	//grid-template-columns: repeat(12, 1fr);
	grid-column: 2 / 12;
	padding: 0 0 6rem 0;
	//background-color: rgb(66,39,144);
	//transition: all 1s linear;
	@media (min-width:$sm){
		grid-column: 1 / 13;
		padding: 2rem 2rem 6rem 2rem;
	}
}

.icon_list-item{
	//grid-column: 2 / 12;
	padding: 3rem 0;
	display: flex;
	align-items: flex-start;
	flex-direction: column-reverse;
	flex-basis: 100%;
	&:nth-child(odd){
		.icon_list-icon{
			//transform: translateX(30px);
		}
		.icon_list-content{
			//transform: translateX(-30px);
		}
	}
	@media (min-width:$sm){
		//grid-column: 3 / 11;
		//flex-direction: row;
		padding: 3rem;
		flex-basis: 50%;
		//align-items: center;
		&:nth-child(odd){
		//	flex-direction: row-reverse;
		}
	}
	@media (min-width:$md){
		
	}
	@media (min-width:$lg){
		flex-basis: 33%;
	}
	.icon_list-icon{
		padding: 2rem 0;
		//transform: translateX(-30px);
		//opacity: 0;
		//transition: all .5s ease;
		@media (min-width:$sm){
			//padding: 2rem 4rem;
		}
		svg{
			fill: $brand-color;
			width: 80px;
			@media (min-width:$md){
			//	width: 100px;
			}
			@media (min-width:$lg){
			//	width: 130px;
			}
		}
	}
	.icon_list-content{
		font-size: 1.2rem;
		//transform: translateX(30px);
		//opacity: 0;
		//transition: all .5s ease;
		a,a:visited{
			font-weight: $bold-font-weight;
			color: #fff;
			border-bottom: none;
			transition: color .2s ease;
			&:hover{
				color: $brand-color;
			}
			&:after{
				content: '\027F6';
				margin-left: 1rem;
				color: $brand-color;
			}
		}
	}
}

.icon_list-services{
	h3{
		font-size: 2.25rem;
	}
	p{
		padding-bottom: 0;
	}
	a{
		display: inline-block;
		margin-top: 2rem;
	}
	.icon_list-item{
		@media (min-width:$sm){
			&:nth-child(1){
				animation-delay: 0s;
			}
			&:nth-child(2){
				animation-delay: .5s;
			}
			&:nth-child(3){
				animation-delay: 0s;
			}
			&:nth-child(4){
				animation-delay: .5s;
			}
		}
		@media (min-width:$lg){
			flex-basis: 50%;
		}
		@media (min-width:$xl){
			flex-basis: 25%;
			&:nth-child(1){
				animation-delay: 0s;
			}
			&:nth-child(2){
				animation-delay: .5s;
			}
			&:nth-child(3){
				animation-delay: 1s;
			}
			&:nth-child(4){
				animation-delay: 1.5s;
			}
		}
	}
}
.icon_list-beliefs{
	h3{
		font-size: 2.25rem;
		color: $brand-color;
		padding-bottom: .5rem;
	}
	strong{
		font-weight: 300;
		font-size: 1.5rem;
	}
	.icon_list-item{
		@media (min-width:$sm){
			&:nth-child(1){
				animation-delay: 0s;
			}
			&:nth-child(2){
				animation-delay: .25s;
			}
			&:nth-child(3){
				animation-delay: 0s;
			}
			&:nth-child(4){
				animation-delay: .25s;
			}
			&:nth-child(5){
				animation-delay: 0s;
			}
			&:nth-child(6){
				animation-delay: .25s;
			}
		}
		@media (min-width:$lg){
			&:nth-child(1){
				animation-delay: 0s;
			}
			&:nth-child(2){
				animation-delay: .25s;
			}
			&:nth-child(3){
				animation-delay: .5s;
			}
			&:nth-child(4){
				animation-delay: 0s;
			}
			&:nth-child(5){
				animation-delay: .25s;
			}
			&:nth-child(6){
				animation-delay: .5s;
			}
		}
	}
}

.service-list-wrapper{
	display: flex;
	flex-direction: column;
	padding: 0rem 6rem 6rem 6rem;
	@media (min-width: $md){
		flex-direction: row;
	}
	h4{
		border-bottom: 2px solid $brand-color;
		margin: 2rem;
	}
	ul {
		margin-bottom: 4rem;
		padding: 2rem;
		li{
			list-style: disc;
		}
	}
}
.service-list-content{
	flex-basis: 100%;
	@media (min-width: $md){
		flex-basis: 33%;
	}
}

.testimonials{
	position: relative;
	li{
		span{
			font-style: italic;
		}
	}
	&:before, &:after{
		content: '\201C';
		position: absolute;
		top: 0;
		left: 4rem;
		font-size: 16rem;
		line-height: 1;
		font-family: serif;
		color: rgba(255,255,255,.1);
	}
	&:after{
		content: '\201D';
		right: 4rem;
		bottom: 0;
		top: auto;
		left: auto;
	}
}
.slides{
	padding-top: 4rem;
	order: 2;
	//grid-column: 2 / 8;
	@media (min-width:$sm){
		//order: 2;
		padding: 4rem;
		background: rgba(255,255,255,.1);
		>div{
			margin-left: -4rem;
			>div{
				padding: 0 4rem;
			}
		}
	}
}
.slides-controls{
	order: 1;
	text-align: right;
	padding: 0;
/*
	@media(min-width:$sm){
		order: 1;
	}
*/
}
#next-slide,#previous-slide{
	background: none;
	border: none;
	color: $brand-color;
	font-weight: 500;
}


//---------// Pages //---------//

//client list
.family_list{
	display: flex;
	flex-wrap: wrap;
	grid-column: 1 / 13;
	padding: 6rem 6rem 12rem 6rem;
	background: #fff;
	align-items: center;
}
.family_list-item{
	flex-basis: 50%;
	padding: 2rem;
	@media (min-width: $sm){
		flex-basis: 33%;
	}
    @media (min-width: $md){
		flex-basis: 25%;
	}
    @media (min-width: $lg){
		flex-basis: 20%;
	}
}

//about us intro questions
.customers-questions{
	h3{
		border-bottom: 2px solid $brand-color;
		padding-bottom: 1rem;
		margin-bottom: 3rem;
	}
	.customers-questions--list{
		ul{ 
			padding: 0;
			//border-bottom: 2px solid $brand-color;
			margin-bottom: 2rem;
			li{
				list-style: none;
				position: relative;
				//margin-bottom: 1rem;
				//font-size: 1.4rem;
				margin:0 0 1rem 3rem;
				&:before{
					position: absolute;
					left: -3rem;
					content:'\02713';
					margin-right: 1rem;
					color: $brand-color;
					//font-size: 2rem;
				}
			}
		}
	}
}
// Contact form
.contact-form{
	display: flex;
	flex-wrap: wrap;
	grid-column: 1 / 13;
	padding: 4rem;
	justify-content: center;
	label{
		margin: 1rem 0 0 0;
		flex-basis: 100%;
		@media(min-width:$md){
			flex-basis: 66%;
		}
	}
	input, select{
		flex-basis: 100%;
		max-width: 100%;
		margin: 0 0 1rem 0;
		padding: .5rem;
		@media(min-width:$md){
			flex-basis: 66%;
		}
	}
	textarea{
		padding: .5rem;
		flex-basis: 100%;
		max-width: 100%;
		margin: 0 0 2rem 0;
		@media(min-width:$md){
			flex-basis: 66%;
		}
	}
	button{
		display: block;
	}
	.break{
		flex-basis: 100%;
				@media(min-width:$md){
			flex-basis: 66%;
		}
	}
}

//---------// Header & Nav transitions //---------//


header > nav{
	opacity: 0;
}
.logo-animation-done{
	header > nav{
	opacity: 1;
	transition: all .5s ease;
	}
}

.is-animating{
	header{
		//opacity: 0;
		
	}
}

//---------// Loaded styles //---------//
// Styles applied after .loaded class has been added on window.load event

.loaded{

	.content{
		opacity: 1;
		transition: opacity .5s ease;
	}

	.home-header--intro{
		opacity: 1;
		transition: opacity .5s ease 3.5s;
	}
	.home-header--cta{
		opacity: 1;
		transition: opacity .5s ease 3.5s;
	}
 	.home-header--headline{
	 	strong{
			&:after{
				width: 100%;
				transition: width .5s ease 3s;
			}
			}
		p{
			opacity: 1;
			transform: translateY(0px);
			transition: all 1s ease;
			&:nth-child(1){
				transition-delay: 0s;
			}
			&:nth-child(2){
				transition-delay: 1s;
			}
			&:nth-child(3){
				transition-delay: 2s;
			}
		}
	
 	}
 	.page-header--title, .page-header--intro{
	 opacity: 1;
	 transition: opacity .5s ease;	
 	}
 	.page-header--title{
	 	&:after{
		 	width: 100%;
		 	transition: width 1s ease .5s;
	 	}
 	}
 	.page-header--intro{
	 	transition-delay: .5s;
 	}
 	
 	#scroll-to-intro{
		opacity: 1;
		transition: opacity 1s ease 3.5s;
	}
}



main[data-current="home"]{
	background: $black;
}
main[data-current="post"]{
	background: #fff;
	color: $black;
	-webkit-font-smoothing: subpixel-antialiased;
	
}

//---------// Colours //---------//

.highlight{
	color:$brand-color;
}
.grey{
	background: $light-grey;
	color: $black;
    -webkit-font-smoothing: auto;
}
.white{
	background: #fff;
	color: $black;
    -webkit-font-smoothing: auto;
}
.green{
	background: $brand-color;
	color: #fff;
}
.black{
	background: $black;
	color: #fff;
}
.purple{
	background: $purple;
	color: #fff;
}
.dark-grey{
	background: $dark-grey;
	color: #fff;
}

//---------// Helper Classes //---------//
.center{
	text-align: center;
}
.no-padding{
	padding: 0;
}
.large-text{
	font-size: 2rem;
}


//---------// Utility Classes //---------//
// Scroll items
.scroll{
	visibility: hidden;
	animation-duration: .5s;
}

a.anchor{
	display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}
// unstyled lists
li.icon_list-item,li.family_list-item,li.testimonials_list-item, .posts li{
	list-style: none;
	margin-left: 0;
}

// Triangles
.bottom-triangle, .top-triangle, .left-to-top-triangle,.right-to-bottom-triangle{
	position: relative;
	&:after{
		content: '';
		width: 2rem;
		height: 2rem;
		background: $black;
		position: absolute;
		transform: rotate(45deg);
	}
}

.bottom-triangle{
	&:after{
		right: 50%;
		bottom: -1rem;
		margin-right: -1rem;
	}
}
.top-triangle{
	&:after{
		right: 50%;
		top: -1rem;
		margin-right: -1rem;
	}
}
.left-to-top-triangle,.right-to-bottom-triangle{
	&:after{
		left: 50%;
		top: -1rem;
		margin-left: -1rem;
		@media(min-width:$md){
			top: auto;
			left: -1rem;
			bottom:50%;
			margin-top: -1rem;
			margin-left: 0;
			z-index: 998;
			}
	}
}
.right-to-bottom-triangle{
	&:after{
	top: auto;
	bottom: -1rem;
	@media(min-width:$md){
		bottom: 50%;
		right: -1rem;
		left: auto;
		margin-top: 0;
		margin-bottom: -1rem;
	}
	}
}
.black.right-to-bottom-triangle{
	&:after{
		background: $black;
	}
}
.white.right-to-bottom-triangle{
	&:after{
		background: #fff;
	}
}
.dark-grey.right-to-bottom-triangle{
	&:after{
		background: $dark-grey;
	}
}
.green.right-to-bottom-triangle{
	&:after{
		background: $brand-color;
	}
}

.purple.right-to-bottom-triangle{
	&:after{
		background: $purple;
	}
}

//---------// Page transitions //---------//
.page-transition--fade{
	transition: opacity .5s ease;
	opacity: 1;
	//z-index: -1;
}
html.is-animating{
	.page-transition--fade{
		opacity: 0;
	}
}

//---------// Particles//---------//

#particles{
  pointer-events: none;
  z-index: 998;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
 // background-color: #232741;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 50%;
  canvas{
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}
}

.loaded #particles{
	opacity: 1;
	transition: opacity 1s;
}
#main[data-current="home"]{
	#particles{
		transition-delay: 3.5s
	}
}