---
layout: default
---
<div class="page-header hero-section" {% include hero-section.html %}>
<h2 class="page-header--title">{{ page.title }}</h2>
<div id="particles"></div>
</div>
<div class="content">
	<section class="content-col scroll fadeIn">
	
	  <ul class="posts">
	    {% for post in site.posts %}
	    {% assign author = site.data.authors[post.author] %}
	      <li>
	        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
	        <time datetime="{{ post.date }}">
	          <small>
	            <strong>{{ post.date | date_to_string }}</strong>
	            {% if author %}
	              by {{ author.name }}
	            {% endif %}
	          </small>
	        </time>
	        {{ post.excerpt | strip_newlines | truncate: 180 }}
	      </li>
	    {% endfor %}
	  </ul>
	
	</section>
